.logo {
  animation: app-logo-spin infinite 20s linear;
  height: 85px;
  box-sizing: border-box;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
